<header>
    <p>Online Picture Management</p>
</header>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <b><p class="heading">Login  <i class="fa fa-user"></i></p>
          </b>
      </div>
  
      <!-- Login Form -->
      <form loginform="ngForm"> 
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        new user?<a class="underlineHover" href="#">Register</a>
        <div></div>
      </div>
  
    </div>
  </div>
