.viewport
{
    height: 700px;
}
.scroll-item
{
    height: 100%;
}
.example-card {
    max-width: 400px;
    border-radius: 25px;
    background-color: blanchedalmond;
  }
  mat-toolbar{
    background-color: maroon;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-style: italic;

}
mat-toolbar span{
    padding:30px;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .navlinks a{
      margin-right:20px;
      color:white;
      text-decoration: none;

  }
  .imagesList{
    margin-left: 35%;
    margin-right: 30%;
    display:block;
  }
  mat-card-actions{
      display:flex;
      flex-direction: row;
      justify-content: space-evenly;
  }
  .homeHead{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
      font-style: italic;
      font-size:x-large;
      border-bottom:2px solid black ;
      margin-bottom: 2%;
      padding:2%;
     
  }
