<mat-toolbar>
    <span>Online Picture Management</span>
    <span class="example-spacer"></span>
    <div class="navlinks">
        <a routerLink="#">Home</a>
        <a routerLink="/profile">Profile</a>
        <a routerLink="/upload">Image</a>
        <a routerLink="/login">Logout</a>
        </div>
</mat-toolbar>
<div class="main">
    <table>
        <tr>
            <td rowspan="2" id="userprofile"><label>username<mat-icon>account_circle</mat-icon></label></td>
            <td>posts</td>
            <td>followers</td>
            <td>following</td>
        </tr>
        <tr>
            <td>{{images.length}}</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </table>

<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile *ngFor='let i of images'>
        <p  class="tile-image"></p>
    </mat-grid-tile>
  </mat-grid-list>
</div>
