<div style="align-items: center;">
    <table>
        <th id="id1"style="width: 50px; background-color: black;">
          <i class="fa fa-user fa-25x" aria-hidden="true" style="font-size: 35px; background-color:white;"></i>
        </th>
        <th id="id2"style="width: 200px; background-color: grey;">
          <h2 style="font-size: 35px;font-family: 'Rancho', cursive;">Username</h2> 
        </th>
        <th id="id3"> <input type="text" style="font-size: 40px;"></th>
        <th style="width: 100px; background-color:white; text-align: center;">  <button id="id4"type="reset" style="font-size: 35px;font-family: 'Rancho', cursive;">
          <i class="fa fa-pencil" aria-hidden="true" style="font-size: 35px; width: 70px;"></i>
      </button>
</th>
    <th  style="width: 100px; background-color:while;"> <button id="id5" type="submit" style="font-size: 35px;font-family: 'Rancho', cursive; text-align: center;">
      <i class="fa fa-trash" aria-hidden="true" style="font-size: 35px; width:fit-content"></i>
  </button></th>     
 </table>
 <br>
</div>